exportClasses(job)
export(clear_job_finish)
export(clear_job_processing)
export(clear_job_queue)
export(commit_job)
export(do_job)
export(gen_job_set)
export(init_server)
export(init_worker)
export(job_finish_len)
export(job_processing_len)
export(job_queue_len)
export(.Last.lib)
export(monitor)
export(ping)
export(pop_job_finish)
export(pop_job_processing)
export(pop_job_queue)
export(push_job_error)
export(push_job_finish)
export(push_job_processing)
export(push_job_queue)
export(query_job_finish)
export(query_job_processing)
export(query_job_queue)
export(set_init_job)
export(wait_worker)
export(zmqSapply)
useDynLib(RzmqJobQueue)
